@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Geom:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NO:wght@100..400&display=swap');

:root{
    --cor1: #FEEAC9;
    --cor2: #FFCDC9;
    --cor3: #FDACAC;
    --cor4: #FD7979;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: "Geom", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;
}

h3{
    font-family: "Geom", sans-serif;
}

li{
    font-family: "Montserrat", sans-serif;
}

.interface-1{
    max-width: 90%;
    padding: 0 4%;
    margin: 0 auto;
}

header{
    background-color: var(--cor4);
    position: fixed;
    z-index: 4;
    width: 100%;
    box-shadow: 2px 2px 10px black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

header .interface-1 .container-header{
    display: flex;
    align-items: center;  
    justify-content: space-around;
    gap: 100px;
    height: 90px;
    
}
header .interface-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .interface-1 .container-header .marca h1{
    display: flex;
    font-family: "Great Vibes", cursive; 
    flex-direction: column; 
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.418);
    color: var(--cor1);
    letter-spacing: 5px;
    width: 170px; 


}

header .interface-1 .container-header .marca h1 .world-salgados{
    display: flex;
    justify-content: end;
}

header .interface-1 .container-header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    
    
}


header .interface-1 .container-header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.08rem;
    transition: 0.2s;
    display: block;
    padding: 10px 20px;
    
}


header .interface-1 .container-header nav ul li{
    position: relative;
    border-top-left-radius: 10px;
    transition: 0.3s;
}

header .interface-1 .container-header nav ul li::after{
    content: " ";
    background-color: black;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
    
}



header .interface-1 .container-header nav ul li:hover{
    background-color: var(--cor1);
    transform: scale(1.1);
}

header .interface-1 .container-header nav ul li:hover::after{
    width: 100%;
    
}

header .interface-1 .btn-contact{
    background-color: var(--cor1);
    padding: 15px 25px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    color: black;
    font-size: 0.9rem;
    transition: 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

header .interface-1 .btn-contact:hover{
    transform: scale(1.1);
    
}

/* hero */

.hero{
    background-color: #F5F0E1;
    background-image: 
    radial-gradient(circle, #fdacacbb 1.5px, transparent 1px),
    radial-gradient(circle, #FD7979 0.5px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    height: 96vh;
}

.hero .container-hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.hero .container-hero .left .hero-text h2{
    color: rgba(0, 0, 0, 0.925);
    font-size: 2.4rem;
    margin-bottom: 30px;
    text-shadow: 6px 6px 3px #fd797946;
}

.hero .container-hero .left .hero-text p{
    color: black;
    margin-bottom: 30px;
}

.hero .container-hero .left .btn-hero{
    display: flex;
    gap: 90px;
    
}

.hero .container-hero .left .btn-hero a{
    text-decoration: none;
    
}

.hero .container-hero .left .btn-hero a button.orc{
    display: flex;
    height: 60px;
    width: 250px;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    font-size: 1rem;
    transition: 0.3s;
}

.hero .container-hero .left .btn-hero a button.car:hover{
    background-color: #131010;
    border: 2.5px solid black;
}

.hero .container-hero .left .btn-hero a button.orc:hover, button.car:hover{
    transform: scale(1.05);
}

.hero .container-hero .left .btn-hero a button.orc:hover{
    background-color: transparent;
}

.hero .container-hero .left .btn-hero a button.car{
    display: flex;
    height: 60px;
    width: 250px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}



.hero .container-hero .img-hero{
    width: 500px;
    height: 500px;    
    position: relative;
    z-index: 2;
    border-radius: 10px;
    
}

.hero .container-hero .img-hero img{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    

}

.hero .container-hero .img-hero > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.747);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 3; 
}

/* section Serve*/

.serve{
    background-color: white;
    height: 900px;
}

.serve .container-serve{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.serve .container-serve .text-serve{
    text-align: center;
    margin: 30px 0;
    gap: 20px;
}

.serve .container-serve .text-serve h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.serve .container-serve .text-serve p{
    font-size: 1.2rem;
}

.serve .container-serve .produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    max-width: 90%;
    gap: 20px;
    height: 650px;
}

.serve .container-serve .produtos .card{
    background-color: rgba(255, 255, 255, 0.329);
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.719);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.serve .container-serve .produtos .card:nth-child(2) {
    align-self: start;
}

.serve .container-serve .produtos .card h3{
    font-size: 1.9rem;
}

.serve .container-serve .produtos .card p{
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.serve .container-serve .produtos .card ul{
    list-style: none;
}

.serve .container-serve .produtos .card ul li{
    font-size: 1.2rem;
}

.serve .container-serve .produtos .card a button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 30px ;
    background-color: var(--cor4);
    
}
.serve .container-serve .produtos .card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
