@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Geom:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NO:wght@100..400&display=swap');

:root{
    --cor1: #fff6e6;
    --cor2: #f5bfb1;
    --cor3: #ec897c;
    --cor4: #f1a496;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: "Geom", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;
}

h3{
    font-family: "Geom", sans-serif;
}

li{
    font-family: "Montserrat", sans-serif;
}

.interface-1{
    max-width: 90%;
    padding: 0 4%;
    margin: 0 auto;
}

header{
    background-color: var(--cor3);
    position: fixed;
    z-index: 4;
    width: 100%;
    box-shadow: 2px 2px 10px black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

header .interface-1 .container-header{
    display: flex;
    align-items: center;  
    justify-content: space-around;
    gap: 100px;
    height: 90px;
    
}
header .interface-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .interface-1 .container-header .marca h1{
    display: flex;
    font-family: "Great Vibes", cursive; 
    flex-direction: column; 
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.418);
    color: var(--cor1);
    letter-spacing: 5px;
    cursor:default;
    width: 170px; 


}

header .interface-1 .container-header .marca h1 .world-salgados{
    display: flex;
    justify-content: end;
}

header .interface-1 .container-header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    
    
}


header .interface-1 .container-header nav ul li a{
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.08rem;
    transition: 0.2s;
    display: block;
    padding: 10px 20px;
    
}

header .interface-1 .container-header nav ul li a:hover{
    color: black;
}


header .interface-1 .container-header nav ul li{
    position: relative;
    border-top-left-radius: 10px;
    transition: 0.3s;
}

header .interface-1 .container-header nav ul li::after{
    content: " ";
    background-color: black;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
    
}



header .interface-1 .container-header nav ul li:hover{
    background-color: var(--cor2);
    
    transform: scale(1.1);
}

header .interface-1 .container-header nav ul li:hover::after{
    width: 100%;
    
}

header .interface-1 .btn-contact{
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    color: var(--cor1);
    font-size: 0.9rem;
    transition: 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

header .interface-1 .btn-contact:hover{
    transform: scale(1.1);
    background-color: var(--cor2);
    
}

/* hero */

.hero{
    background-color: var(--cor4);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    height: 96vh;
}

.hero .container-hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
}

.hero .container-hero .left .hero-text h2{
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
    font-size: 3rem;
    margin-bottom: 30px;
}

.hero .container-hero .left .hero-text p{
    color: white;
    margin-bottom: 30px;
}

.hero .container-hero .left .btn-hero{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 90px;
    
}

.hero .container-hero .left .btn-hero a{
    text-decoration: none;
    
}

.hero .container-hero .left .btn-hero a button.orc{
    display: flex;
    height: 60px;
    width: 250px;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    font-size: 1rem;
    transition: 0.3s;
}

.hero .container-hero .left .btn-hero a button.car:hover{
    background-color: var(--cor4);
    border: 2.5px solid black;
}

.hero .container-hero .left .btn-hero a button.orc:hover, button.car:hover{
    transform: scale(1.05);
}

.hero .container-hero .left .btn-hero a button.orc:hover{
    background-color: var(--cor1);
}

.hero .container-hero .left .btn-hero a button.car{
    display: flex;
    height: 60px;
    width: 250px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}



.hero .container-hero .img-hero{
    width: 510px;
    height: 370px;    
    position: relative;
    z-index: 2;
    border-radius: 5px;
    
}

.hero .container-hero .img-hero img{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    height: 100%;
    

}

.hero .container-hero .img-hero > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.747);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 3; 
}

/* section Serve*/

.serve{
    background-color: var(--cor2);
    height: 900px;
    padding: 30px 0;
}

.serve .container-serve{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.serve .container-serve .text-serve{
    text-align: center;
    margin: 30px 0;
    gap: 20px;
}

.serve .container-serve .text-serve h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.serve .container-serve .text-serve p{
    font-size: 1.2rem;
}

.serve .container-serve .produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    max-width: 90%;
    gap: 20px;
    height: 650px;
}

.serve .container-serve .produtos .card{
    background-color: rgba(255, 255, 255, 0.329);
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.719);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.serve .container-serve .produtos .card:nth-child(2) {
    align-self: start;
}

.serve .container-serve .produtos .card h3{
    font-size: 1.9rem;
}

.serve .container-serve .produtos .card p{
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.serve .container-serve .produtos .card ul{
    list-style: none;
}

.serve .container-serve .produtos .card ul li{
    font-size: 1.2rem;
}

.serve .container-serve .produtos .card a button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 30px ;
    background-color: var(--cor2);
    color: var(--cor1);
    border: 1px solid black;
    
}
.serve .container-serve .produtos .card img{
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* section salgados */

.salgados{
    display: none;
    background-color: var(--cor1);
    padding: 130px 0;
}

.salgados .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
    gap: 30px;
    
}

.salgados .container .item{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    display: grid;
    padding: 10px;
    gap: 5px;
    grid-template-columns: 150px 210px auto;
    grid-template-areas: 
    'image h3 h3'
    'image p p'
    'image input button'
    ;
}
.salgados .container .item input{
    grid-area: input;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
}

.salgados .container .item h3{
    grid-area: h3;
}

.salgados .container .item p{
    grid-area: p;
}

.salgados .container .item button{
    grid-area: button;
    justify-self: start;
    border: 1px solid black;
    background-color: var(--cor3);
    color: var(--cor1);
    width: 80px;
    cursor: pointer;
    height: 40px;
    left: 0;
    transition: 0.3s;
    position: relative;
    
}

.salgados .container .item button:hover{
    background-color: var(--cor2);
    transform: scale(1.03);
    border: none;
    border-top-right-radius: 10px;
}

.salgados .container .item button::after{
    content: ' ';
    background-color: black;
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
}

.salgados .container .item button:hover::after{
    width: 100%;
    
}

/*section Bolos*/

.bolos{
    display: none;
    background-color: var(--cor1);
    padding: 130px 0;
}

.bolos .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
    gap: 30px;
    
}

.bolos .container .item{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    display: grid;
    padding: 10px;
    gap: 5px;
    grid-template-columns: 150px 210px auto;
    grid-template-areas: 
    'image h3 h3'
    'image p p'
    'image input button'
    ;
}
.bolos .container .item input{
    grid-area: input;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
}

.bolos .container .item h3{
    grid-area: h3;
}

.bolos .container .item p{
    grid-area: p;
}

.bolos .container .item button{
    grid-area: button;
    justify-self: start;
    border: 1px solid black;
    background-color: var(--cor3);
    color: var(--cor1);
    width: 80px;
    cursor: pointer;
    height: 40px;
    left: 0;
    transition: 0.3s;
    position: relative;
    
}

.bolos .container .item button:hover{
    background-color: var(--cor2);
    transform: scale(1.03);
    border: none;
    border-top-right-radius: 10px;
}

.bolos .container .item button::after{
    content: ' ';
    background-color: black;
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
}

.bolos .container .item button:hover::after{
    width: 100%;
}

/*section biscoitos*/

.biscoitos{
    display: none;
    background-color: var(--cor1);
    padding: 130px 0;
}

.biscoitos .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
    gap: 30px;
    
}

.biscoitos .container .item{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    display: grid;
    padding: 10px;
    gap: 5px;
    grid-template-columns: 150px 210px auto;
    grid-template-areas: 
    'image h3 h3'
    'image p p'
    'image input button'
    ;
}
.biscoitos .container .item input{
    grid-area: input;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
}

.biscoitos .container .item h3{
    grid-area: h3;
}

.biscoitos .container .item p{
    grid-area: p;
}

.biscoitos .container .item button{
    grid-area: button;
    color: var(--cor1);
    justify-self: start;
    border: 1px solid black;
    background-color: var(--cor3);
    width: 80px;
    cursor: pointer;
    height: 40px;
    left: 0;
    transition: 0.3s;
    position: relative;
    
}

.biscoitos .container .item button:hover{
    background-color: var(--cor2);
    transform: scale(1.03);
    border: none;
    border-top-right-radius: 10px;
}

.biscoitos .container .item button::after{
    content: ' ';
    background-color: black;
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
}

.biscoitos .container .item button:hover::after{
    width: 100%;
}

/*Section Footer*/

footer{
    height: 300px;
    background-color: var(--cor4);
    color: white;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 90%;
}

footer .container article h3{
    margin-bottom: 30px;
}

footer .container .contact section{
    display: grid;
    gap: 7px;
}

footer .container .contact img{
    width: 25px;
    margin-right: 10px;
}

footer .container .social{
    display: grid;
    text-align: center;

}

footer .container .social ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
