@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Geom:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NO:wght@100..400&display=swap');

:root{
    --cor1: #E7EFC7;
    --cor2: #AEC8A4;
    --cor3: #8A784E;
    --cor4: #30300e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.interface-1{
    max-width: 90%;
    padding: 0 4%;
    margin: 0 auto;
}

header{
    background-color: var(--cor4);
}

header .interface-1 .container{
    display: flex;
    align-items: center;  
    justify-content: space-around;
    gap: 100px;
    height: 90px;
    
}
header .interface-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .interface-1 .container .marca h1{
    display: flex;
    font-family: "Great Vibes", cursive; 
    flex-direction: column; 
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.418);
    color: #E7EFC7;
    letter-spacing: 5px;
    width: 170px; 


}

header .interface-1 .container .marca h1 .world-salgados{
    display: flex;
    justify-content: end;
}

header .interface-1 .container nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    
    
}


header .interface-1 .container nav ul li a{
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.08rem;
    transition: 0.2s;
    display: block;
    padding: 10px 20px;
    
}


header .interface-1 .container nav ul li{
    position: relative;
    border-top-left-radius: 10px;
    transition: 0.3s;
}

header .interface-1 .container nav ul li::after{
    content: " ";
    background-color: black;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
    
}

header .interface-1 .container nav ul li:hover a{
    color: black;
}

header .interface-1 .container nav ul li:hover{
    background-color: var(--cor1);
    transform: scale(1.1);
    color: black;
}

header .interface-1 .container nav ul li:hover::after{
    width: 100%;
    
}

header .interface-1 .btn-contact{
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    color: var(--cor1);
    font-size: 0.9rem;
    transition: 0.3s;
}

header .interface-1 .btn-contact:hover{
    background-color: var(--cor1);
    border: 2px solid black;
    color: black;
    transform: scale(1.1);
    
}



