@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Geom:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NO:wght@100..400&display=swap');

:root{
    --cor1: #FFF0DC;
    --cor2: #E7EFC7;
    --cor3: #F0BB78;
    --cor4: #7a5a45;
    --cor5: #131010;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: "Geom", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;
}

.interface-1{
    max-width: 90%;
    padding: 0 4%;
    margin: 0 auto;
}

header{
    background-color: var(--cor5);
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 10px black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

header .interface-1 .container-header{
    display: flex;
    align-items: center;  
    justify-content: space-around;
    gap: 100px;
    height: 90px;
    
}
header .interface-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .interface-1 .container-header .marca h1{
    display: flex;
    font-family: "Great Vibes", cursive; 
    flex-direction: column; 
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.418);
    color: #E7EFC7;
    letter-spacing: 5px;
    width: 170px; 


}

header .interface-1 .container-header .marca h1 .world-salgados{
    display: flex;
    justify-content: end;
}

header .interface-1 .container-header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    
    
}


header .interface-1 .container-header nav ul li a{
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.08rem;
    transition: 0.2s;
    display: block;
    padding: 10px 20px;
    
}


header .interface-1 .container-header nav ul li{
    position: relative;
    border-top-left-radius: 10px;
    transition: 0.3s;
}

header .interface-1 .container-header nav ul li::after{
    content: " ";
    background-color: black;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
    
}

header .interface-1 .container-header nav ul li:hover a{
    color: black;
}

header .interface-1 .container-header nav ul li:hover{
    background-color: var(--cor1);
    transform: scale(1.1);
    color: black;
}

header .interface-1 .container-header nav ul li:hover::after{
    width: 100%;
    
}

header .interface-1 .btn-contact{
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    color: var(--cor1);
    font-size: 0.9rem;
    transition: 0.3s;
    box-shadow: 2px 2px 10px black;
}

header .interface-1 .btn-contact:hover{
    background-color: var(--cor1);
    border: 2px solid black;
    color: black;
    transform: scale(1.1);
    
}

/* hero */

.hero{
    background-color: var(--cor4);
    height: 96vh;
}

.hero .container-hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.hero .container-hero .left .hero-text h2{
    color: var(--cor2);
    font-size: 2.4rem;
    margin-bottom: 30px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.541);
}

.hero .container-hero .left .hero-text p{
    color: var(--cor1);
    margin-bottom: 30px;
}

.hero .container-hero .left .btn-hero{
    display: flex;
    gap: 90px;
    
}

.hero .container-hero .left .btn-hero a{
    text-decoration: none;
    
}

.hero .container-hero .left .btn-hero a button.orc{
    display: flex;
    height: 60px;
    width: 250px;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 2.5px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 1rem;
    transition: 0.3s;
}

.hero .container-hero .left .btn-hero a button.car:hover{
    background-color: #131010;
    border: 2.5px solid black;
}

.hero .container-hero .left .btn-hero a button.orc:hover, button.car:hover{
    transform: scale(1.05);
}

.hero .container-hero .left .btn-hero a button.orc:hover{
    background-color: transparent;
}

.hero .container-hero .left .btn-hero a button.car{
    display: flex;
    height: 60px;
    width: 250px;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2.5px solid white;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}



.hero .container-hero .img-hero{
    width: 500px;
    height: 500px;    
    position: relative;
    z-index: 2;
    border-radius: 10px;
    
}

.hero .container-hero .img-hero img{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    

}

.hero .container-hero .img-hero > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0.1px;
    z-index: 3;

}

